{
  "audio_config": null,
  "bootloader": "grub",
  "config_version": "2.8.0",
  "debug": false,
  "disk_config": {
    "config_type": "default_layout",
    "device_modifications": [
      {
        "device": "{{ arch_disk_device }}",
        "partitions": [
          {
            "btrfs": [],
            "dev_path": null,
            "flags": [
              "esp"
            ],
            "fs_type": "fat32",
            "mount_options": [],
            "mountpoint": "/boot",
            "obj_id": "boot_partition",
            "size": {
              "sector_size": null,
              "total_size": 1073741824,
              "unit": "B"
            },
            "start": {
              "alignment": "MiB",
              "sector_size": null,
              "total_size": 1048576,
              "unit": "B"
            },
            "status": "create",
            "type": "primary"
          },
          {
            "btrfs": [],
            "dev_path": null,
            "flags": [],
            "fs_type": "ext4",
            "mount_options": [],
            "mountpoint": "/",
            "obj_id": "root_partition",
            "size": {
              "sector_size": null,
              "total_size": null,
              "unit": "B"
            },
            "start": {
              "alignment": null,
              "sector_size": null,
              "total_size": null,
              "unit": "B"
            },
            "status": "create",
            "type": "primary"
          }
        ],
        "wipe": true
      }
    ]
  },
  "disk_encryption": {
{% if arch_use_encryption %}
    "encryption_type": "luks",
    "partitions": [
      "root_partition"
    ],
    "password": "{{ arch_luks_password }}"
{% else %}
    "encryption_type": null,
    "partitions": [],
    "password": null
{% endif %}
  },
  "hostname": "{{ arch_hostname }}",
  "kernels": [
    "linux"
  ],
  "locale_config": {
    "kb_layout": "us",
    "sys_enc": "UTF-8",
    "sys_lang": "{{ arch_locale }}"
  },
  "mirror_config": {
    "custom_mirrors": [],
    "mirror_regions": {
      "United States": [
        "https://mirror.rackspace.com/archlinux/$repo/os/$arch",
        "https://mirrors.kernel.org/archlinux/$repo/os/$arch"
      ]
    }
  },
  "network_config": {
    "type": "nm"
  },
  "no_pkg_lookups": false,
  "ntp": true,
  "offline": false,
  "packages": {{ arch_packages | to_json }},
  "parallel_downloads": 5,
  "profile_config": null,
  "save_config": null,
  "script": "guided",
  "silent": true,
  "swap": false,
  "timezone": "{{ arch_timezone }}",
  "uki": false,
  "user_config": {
    "!password": "{{ arch_password }}",
    "!sudo": true,
    "username": "{{ arch_user }}"
  },
  "version": "2.8.0"
}