---
# Install apcupsd_exporter for dedicated UPS monitoring

- name: Download apcupsd_exporter binary
  get_url:
    url: "https://github.com/mdlayher/apcupsd_exporter/releases/download/v0.3.0/apcupsd_exporter-linux-amd64"
    dest: "/usr/local/bin/apcupsd_exporter"
    mode: '0755'
    owner: prometheus
    group: prometheus
  tags: [monitoring, host, ups]

- name: Create apcupsd_exporter systemd service
  template:
    src: apcupsd_exporter.service.j2
    dest: /etc/systemd/system/apcupsd_exporter.service
    mode: '0644'
  notify: restart_apcupsd_exporter
  tags: [monitoring, host, ups]

- name: Enable and start apcupsd_exporter
  systemd:
    name: apcupsd_exporter
    enabled: yes
    state: started
    daemon_reload: yes
  tags: [monitoring, host, ups]
