http:
  pprof:
    port: 6060
    enabled: false
  address: {{ adguard_web_bind }}:{{ adguard_web_port }}
  session_ttl: 720h
users:
  - name: {{ adguard_admin_username }}
    password: $2a$12$2M1bdDHcH6jHjNgBmWzYX.YKz6O77pyBiXaW6/1zYLydHJhNr.HGW
auth_attempts: 5
block_auth_min: 15
http_proxy: ""
language: en
theme: auto
dns:
  bind_hosts:
    - {{ adguard_dns_bind }}
  port: {{ adguard_dns_port }}
  anonymize_client_ip: false
  ratelimit: 20
  ratelimit_subnet_len_ipv4: 24
  ratelimit_subnet_len_ipv6: 56
  ratelimit_whitelist: []
  refuse_any: true
  upstream_dns:
    - "1.1.1.1"
    - "8.8.8.8"
  upstream_dns_file: ""
  bootstrap_dns:
    - "1.1.1.1"
    - "8.8.8.8"
  fallback_dns: []
  upstream_mode: load_balance
  fastest_timeout: 1s
  allowed_clients: []
  disallowed_clients: []
  blocked_hosts: []
  trusted_proxies:
    - 127.0.0.0/8
    - ::1/128
  cache_enabled: true
  cache_size: {{ adguard_cache_size }}
  cache_ttl_min: {{ adguard_cache_ttl_min }}
  cache_ttl_max: {{ adguard_cache_ttl_max }}
  cache_optimistic: false
  bogus_nxdomain: []
  aaaa_disabled: false
  enable_dnssec: false
  edns_client_subnet:
    custom_ip: ""
    enabled: false
    use_custom: false
  max_goroutines: 300
  handle_ddr: true
  ipset: []
  ipset_file: ""
  bootstrap_prefer_ipv6: false
  upstream_timeout: 10s
  private_networks: []
  use_private_ptr_resolvers: true
  local_ptr_upstreams: []
  use_dns64: false
  dns64_prefixes: []
  serve_http3: false
  use_http3_upstreams: false
  serve_plain_dns: true
  hostsfile_enabled: true
  pending_requests:
    enabled: true
tls:
  enabled: false
  server_name: ""
  force_https: false
  port_https: 443
  port_dns_over_tls: 853
  port_dns_over_quic: 784
  port_dnscrypt: 0
  dnscrypt_config_file: ""
  allow_unencrypted_doh: false
  certificate_chain: ""
  private_key: ""
  certificate_path: ""
  private_key_path: ""
  strict_sni_check: false
querylog:
  dir_path: ""
  ignored: []
  interval: {{ adguard_querylog_interval }}
  size_memory: 1000
  enabled: {{ adguard_querylog_enabled | lower }}
  file_enabled: true
statistics:
  dir_path: ""
  ignored: []
  interval: {{ adguard_statistics_interval }}
  enabled: true
filters:
{% for filter in adguard_filter_lists %}
{% if filter.enabled | default(true) %}
  - enabled: true
    url: "{{ filter.url }}"
    name: "{{ filter.name }}"
    id: {{ loop.index }}
{% endif %}
{% endfor %}
whitelist_filters: []
user_rules:
{% for rule in adguard_custom_filtering_rules %}
  - "{{ rule }}"
{% endfor %}
dhcp:
  enabled: {{ adguard_dhcp_enabled | lower }}
  interface_name: "{{ adguard_dhcp_interface }}"
  local_domain_name: {{ adguard_dhcp_local_domain }}
  dhcpv4:
    gateway_ip: "{{ adguard_dhcp_gateway }}"
    subnet_mask: "{{ adguard_dhcp_subnet_mask }}"
    range_start: "{{ adguard_dhcp_range_start }}"
    range_end: "{{ adguard_dhcp_range_end }}"
    lease_duration: {{ adguard_dhcp_lease_duration }}
    icmp_timeout_msec: {{ adguard_dhcp_icmp_timeout }}
    options: []
  dhcpv6:
    range_start: ""
    lease_duration: 86400
    ra_slaac_only: false
    ra_allow_slaac: false
filtering:
  blocking_ipv4: ""
  blocking_ipv6: ""
  blocked_services:
    schedule:
      time_zone: Local
    ids: []
  protection_disabled_until: null
  safe_search:
    enabled: {{ adguard_safesearch_enabled | lower }}
    bing: true
    duckduckgo: true
    ecosia: true
    google: true
    pixabay: true
    yandex: true
    youtube: true
  blocking_mode: default
  parental_block_host: family-block.dns.adguard.com
  safebrowsing_block_host: standard-block.dns.adguard.com
  rewrites:
{% for rewrite in adguard_dns_rewrites %}
    - domain: "{{ rewrite.domain }}"
      answer: "{{ rewrite.ip }}"
{% endfor %}
  safe_fs_patterns: []
  safebrowsing_cache_size: 1048576
  safesearch_cache_size: 1048576
  parental_cache_size: 1048576
  cache_time: 30
  filters_update_interval: 24
  blocked_response_ttl: {{ adguard_blocked_response_ttl }}
  filtering_enabled: {{ adguard_filtering_enabled | lower }}
  parental_enabled: {{ adguard_parental_enabled | lower }}
  safebrowsing_enabled: {{ adguard_safebrowsing_enabled | lower }}
  protection_enabled: {{ adguard_filtering_enabled | lower }}
clients:
  runtime_sources:
    whois: true
    arp: true
    rdns: true
    dhcp: true
    hosts: true
  persistent: []
log:
  enabled: true
  file: ""
  max_backups: 0
  max_size: 100
  max_age: 3
  compress: false
  local_time: false
  verbose: false
os:
  group: ""
  user: ""
  rlimit_nofile: 0
schema_version: 30