[Unit]
Description=RGB/LED Light Control Service
Documentation=https://github.com/CalcProgrammer1/OpenRGB
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/openrgb -m static -c {{ '000000' if rgb_lights_state == 'off' else 'FFFFFF' }} --noautoconnect
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
